
@model WebApplication5.Models.UserModel
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Account History</h2>

@using (Html.BeginForm())
 {
<div style="margin-bottom: 100px;">
        <br />
        @{int userID =  Model.UserId;}
        <table style="width:900px; ">
            <tr style="font-weight:700;">
                @{int countPreTests = Model.accountPrePostHistory(userID, 1).Count();
                       if (countPreTests != 0)
                       {
                    @Html.Raw("<td width='55%'>Activity Title</td><td width='15%'>Progress</td><td width='10%' style='text-align:center;'>Credits</td><td width='40%'>View</td>");
                       }
                       else
                       {
                    @Html.Raw("<td>You do not have any account activity history</td>");
                       }
                }
            </tr>

            @{
               foreach(var startedActivity in Model.accountPrePostHistory(userID, 1))//Pretest Complete
               {
                   int caseID = startedActivity.Value;
                @Html.Raw("<tr><td>" + Model.activityData(caseID).Select(x => x.Case_Title).FirstOrDefault() + "</td>");
                   int? countPostTests = Model.countPostAttempts(caseID, userID);
                   if (countPostTests != 0)//post test taken
                   {
                       int checkPassed = Model.earnedList(caseID, userID).Count();
                       if (checkPassed != 0)//post test passed
                       {

                           int checkEval = Model.accountEvaluationHistory(userID, caseID).Count();
                           if (checkEval != 0)//eval taken
                           {
                               var checkEarnedForClaimed = Model.earnedList(caseID, userID);
                               {
                                   if (checkEarnedForClaimed != null)
                                   {
                                       foreach (var checkClaimed in checkEarnedForClaimed)
                                       {
                                           var claimed = checkClaimed.Claimed;
                                           if (claimed != null)//credit has been claimed
                                           {
                @Html.Raw("<td>Activity complete</td>");
                @Html.Raw("<td style='text-align:center;'>"+ checkClaimed.Claimed + "</td>");
                @Html.Raw("<td><a href='../CME/certificate/" + caseID + "' >View certificate</a></td></tr>");
                                           }
                                           else//no credit claimed
                                           {
                @Html.Raw("<td>Evaluation complete</td>");
                @Html.Raw("<td style='text-align:center;'>0</td>");
                @Html.Raw("<td><a href='../CME/ClaimCredit/" + caseID + "' >Claim credit</a></td></tr>");
                                           }
                                       }
                                   }
                               }
                           }
                           else//no eval taken
                           {
                @Html.Raw("<td>Post-test complete</td>");
                @Html.Raw("<td style='text-align:center;'>0</td>");
                @Html.Raw("<td><a href='../CME/Evaluation/" + caseID + "' >Complete evaluation</a></td></tr>");
                           }
                       }
                       else//post test Failed
                       {
                           int checkAttempts = Model.countPostAttempts(caseID, userID);
                           if (checkAttempts < 3)
                           {
                @Html.Raw("<td>Post-test <br />(" + checkAttempts.ToString() + " attempts)</td>");
                @Html.Raw("<td style='text-align:center;'>0</td>");
                @Html.Raw("<td><a href='../CME/PostTest/"+ caseID + "' >Retake Post-Test</a></td></tr>");
                           }
                           else
                           {
                @Html.Raw("<td>Post-test <br />(" + checkAttempts.ToString() + " attempts)</td>");
                @Html.Raw("<td style='text-align:center;'>0</td>");
                @Html.Raw("<td><a href='../CME/Activity/" + caseID + "/0' >Attempts Exceeded - Return to activity</a></td></tr>");
                           }
                       }
                   }
                   else//no post test taken
                   {
                @Html.Raw("<td>Pre-test complete</td>");
                @Html.Raw("<td style='text-align:center;'>0</td>");
                @Html.Raw("<td><a href='../CME/Activity/" + caseID + "/0' >Return to activity</a></td></tr>");
                   }
               }
            }
        </table>
        <br />
</div>
<br />
<span style="color:red;">@Html.ValidationSummary(true, "Update Failed.")</span>

 }